{% extends "index.html" %}
{% load  staticfiles %}


    {% block head %}
        <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/h5.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">MI CARRITO</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    {% endblock %}

    <br>
    <br>
    {% block contenedor %}
    <div class="roberto-rooms-area">
        <div class="container">
            <div class="row">
                <!--CONTENEDOR DE CARRITO INDIVIDUALES-->
                {% if carrito %}
                  <div class="table-responsive">
                        <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                      <th>Imagen</th>
                                      <th>Nombre</th>
                                      <th>Accion</th>

                                    </tr>
                                  </thead>
                                <tbody>
                
                {% for p in carrito %}
                         <tr id="{{p.pk}}">
                             <td>   <div class="post-thumb">
                                        <img src="{{p.productoC.imagen.url}}"  alt="" width="150" height="150" >
                                    </div>
                                </td>
                                <td>{{p.productoC.nombre}}<br>
                                    <span style="color:green;display:none;">Pedido</span>
                                </td>
                                <td class="d-flex">
                                    <div class="p-2"><a href="#" id="{{p.productoC.pk}}" onclick="generarPedido(this.id)" class="btn btn-success">Pedir</a></div>
                                    <div class="p-2"><a href="#" id="{{p.productoC.pk}}" onclick="eliminardelcarrito(this.id)" class="btn btn-danger">Eliminar</a></div>
                                    
                                </td>
                         </tr>
                       
                {%endfor%}
                            </tbody>
                        </table>
             
                <!-- FIN CONTENEDOR DE PRODUCTOS INDIVIDUALES-->


            </div>
            {%else%}
        
            <h3 class="center-text" style="margin-top:3%;">No hay elementos en el carrito</h3>

            {%endif%}

        </div>
    </div>
</div>

      {%endblock%}
      <br>
    <br>

    {%block modal %}
    <div class="modal fade" id="modal" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"  id="nombre_producto"></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                  <form  method="POST" action="http://127.0.0.1:8000/realizarpedido/">
                      {% csrf_token %}
                <div class="single-recent-post d-flex">
                                      <!-- Thumb -->
                      <!--<div class="post-thumb">
                          <a href="single-blog.html"><img src="{% static 'img/bg-img/31.jpg'%}" style="width:100%;" alt=""></a>
                       </div>-->
                       <div class="row">
                         <div class="col-md-1"></div>
                          <div class="col-md-10">
                            <img id="imagen" src="" alt="">
                          </div>
                       </div>
                                      <!-- Content -->
                  </div>
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <ul class="list-group list-group-horizontal">
                          <li class="list-group-item" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:gray;font-size:19px;;" >Tipo: <span id="tipo" style="color:MediumSeaGreen;"></span></li>
                          <li class="list-group-item" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:gray;font-size:19px;;"  >Precio: <span id="precio" style="color:MediumSeaGreen;"></span></li>
                          <li class="list-group-item" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:gray;font-size:19px;;">Cantidad: <input style="border-radius:5%;margin-left:2%;color:MediumSeaGreen" name="cantidad" type="number" min="1" max="8" value="1"></li>
                        </ul>
                        <div class="form-group">
                            <input  style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:19px;color:gray;margin-top:2%;;" type="text" class="form-control" id="direccion" placeholder="Direccion de envio" name="direccion" required="">
                            <input  style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:18px;color:MediumSeaGreen;margin-top:2%;;" type="text" class="form-control" id="referencia" placeholder="Referencia Ej:Casa rejas negras" name="referencia" required="">
                        </div>
                      </div>
                  </div>
      
                  <div class="form-group">
                      <input type="hidden" class="form-control" name="id" id="pk">
                  </div>
            </div>
            <!-- Modal footer -->
           <div class="modal-footer row">
             <div class="col-md-6">
              <button type="submit" style="width:100%;" class="btn btn-info">PEDIR</button>
            </div>
            </div>
          </form>
      
          </div>
        </div>
      </div>
      <hr>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:right;">
        <button type="button" class="btn btn-outline-primary">Pedir Todo</button>
      </div>
    </div>
{%endblock%}