{% extends "index.html" %}
{% load  staticfiles %}


    {% block head %}
        <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/h5.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">MIS PEDIDOS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    {% endblock %}



  {% block contenedor %}
    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!--CONTENEDOR DE HAMBURGUESAS INDIVIDUALES-->
                {%if pedidos %}
                	{% for pedido in pedidos %}
                <div class="col-12 col-lg-8" id="{{pedido.id}}">
                    <!-- Single Room Area -->
                    <div class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Room Thumbnail -->
                        <div class="room-thumbnail">
                            <img src="{% static 'img/bg-img/h4.jpg'%}" alt="">
                        </div>
                        <!-- Room Content -->
                        <div class="room-content">
                            <h2>{{pedido.producto.nombre}}</h2>
                            <h4>${{pedido.producto.precio}}</h4>
                            <div class="room-feature">
                            	<ul>
                            	<li>Cantidad: <span>{{pedido.cantidad}}</span></li>
                            	<li>Fecha: <span>{{pedido.fecha}}</span></li>
                                <li>Hora: <span>{{pedido.hora}}</span></li>
                                <li>Direccion de Envio: <span>{{pedido.direccion}}</span></li>

                                <li>Tiempo Estimado(min): <span style="color:tomato;">{{pedido.tiempo_estimado}}</span></li>
                            	<hr>
                            	<li><h5>Total: ${{pedido.total}} </h5></li>
                            	</ul>
                              
                            </div>
                            {%if pedido.expiro %}
                              <div class="d-flex justify-content-center">
                                  <span style="font-weight:bold;">Tiempo para cancelar pedido <strong style="color:red">{{pedido.tiempo_cancelacion}}</strong></span>
                                <a href="#" class="btn btn-danger text-rigth" id="{{pedido.id}}" onclick="cancelarpedido(this.id)">Cancelar Pedido</a>
                              </div>
                            {%else%}
                            <div class="d-flex justify-content-center">
                              <a href="" data-toggle="modal" data-target="#modal" style="font-weight:bold;color:tomato">No es posible cancelar su Pedido ,Click para detalles!</a>
                              <!--<button href="#" title="Accion" data-toggle="popover" data-trigger="hover" data-content="Eliminar Pedido" class="btn btn-danger text-rigth" style="border-radius:5px;width:40px;height:40px;;"  id="{{pedido.id}}" onclick="cancelarpedido(this.id)">X</button>-->

                            </div>
                             {%endif%} 
                        </div>
                    </div>
                </div>
                {%endfor%}
                 {%else%}
                 	<h1 class="text-center">No hay pedidos</h1>
                    <br>
                    <br>
                 {%endif%}	
             
                <!-- FIN CONTENEDOR DE HAMBURGUESAS INDIVIDUALES-->


            </div>
        </div>
    </div>
    {%if pedidos%}
    <hr>
    <h3 style="color:darkgray">TOTAL PAGAR: <span style="color:green;font-size:30px;">$  {{total}}</span></h3>
    {%endif%}

 {%endblock%}


 {%block modal%}

 <div class="modal fade" id="modal" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">¡ Su pedido no se puede cancelar !</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">

         <strong>ATENCION</strong>
            <p>Debido a la simpleza de realizar pedidos , nuestro sistema cuenta con un tiempo de 10 min a partir de que se genero el pedido, pasado este tiempo , usted no podra dar de baja el pedido! Para cualquier consulta llamar al 2302505050</p>   
        </div>
        <!-- Modal footer -->
       <div class="modal-footer">
         <div class="col-md-6 text-rigth">
          <i style="color:teal">¡SALUDOS!</i>
        </div>
        </div>
 
  
      </div>
    </div>
  </div>
  {%endblock%}
  <!-- end Modal -->