{% extends "index.html" %}
{% load  staticfiles %}


    {% block head %}
        <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/h5.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">Novedades</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    {% endblock %}



 {% block contenedor %}

    <section class="roberto-about-us-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="{% static 'img/bg-img/oficial.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Section Heading -->
                    <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                        <h6>Acerca de Nosotros</h6>
                        <h2>Manhattan Hamburgueseria</h2>
                    </div>
                    <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <p>Somos una empresa recien nacida en la localidad de Realico , ofreciendo distintas variedades para un mismo producto <strong>Hamburguesas</strong> brindando precio y calidad. </p>
                        <img src="img/core-img/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="room-review-area mb-100">
        <h4>Preguntas Frecuentes</h4>

        <!-- Single Review Area -->
        <div class="single-room-review-area d-flex align-items-center">
            <div class="reviwer-thumbnail">
                <img src="{% static 'img/bg-img/pregunta1.png' %}" alt="">
            </div>
            <div class="reviwer-content">
                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                    <div class="reviwer-title">
                        <h6>¿Que es Hamburgueseria Manhattan?</h6>
                    </div>

                </div>
                <p>Hamburgueseria Manhattan es una pequeña empresa cuyo objetivo es brindar un servicio de comida rapida, tratando de optimizar tres factores claves : Precio - Calidad - Tiempo de entrega.</p>
            </div>
        </div>

        <!-- Single Review Area -->
        <div class="single-room-review-area d-flex align-items-center">
            <div class="reviwer-thumbnail">
                <img src="{% static 'img/bg-img/pregunta1.png' %}" alt="">
            </div>
            <div class="reviwer-content">
                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                    <div class="reviwer-title">
                        <h6>¿Como uso esta pagina?</h6>
                    </div>

                </div>
                <p>Si solo estas de curiosa o curioso por la pagina , solo podras ver los disintos productos que oferece Hamburgueseria Manhattan.
                    Si deseas dar un paso mas , solo tienes que seguir estos pasos: <br>
                    <li><i class="fa fa-check" style="color:teal"></i>Ve al menu y Clickea sobre <b>Registrarse | Iniciar Sesion</b></li>
                    <li><i class="fa fa-check" style="color:teal"></i>Completa los campos y clickea en <b>Registrarse</b></li>
                    <li><i class="fa fa-check" style="color:teal"></i>Una vez registrado , nuevamente dirigite al menu <b>Registrarse | Iniciar Sesion</b> y click en <b>Ya tengo Cuenta</b>  </b></li>
                    <li><i class="fa fa-check" style="color:teal"></i>Ingresa el email que escribiste anteriormente y contraseña!</li>
                    <li><i class="fa fa-check" style="color:teal"></i>Listo! Estas dentro! Ahora puedes pedir lo que mas te apetece!</li>
                </p>
            </div>
        </div>

        <!-- Single Review Area -->
        <div class="single-room-review-area d-flex align-items-center">
            <div class="reviwer-thumbnail">
                <img src="{% static 'img/bg-img/pregunta1.png' %}" alt="">
            </div>
            <div class="reviwer-content">
                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                    <div class="reviwer-title">
                        <h6>¿Por que no puedo cancelar el pedido pasado 10 minutos?</h6>
                    </div>

                </div>
                <p>Debido a la simpleza de generar un pedido , el sistema cuenta con solo 10 minutos para poder cancelarlo.
                    Si trasncurridos estos 10 minutos el usuario no dio de baja , debera abonar el pedido en su totalidad sin excepcion.
                    En caso que el usuario genere problemas ante esta politica , sera dado de baja del sistema!
                    
                </p>
            </div>
        </div>

    </div>
    
  {%endblock%}