{% extends "index.html" %}
{% load  staticfiles %}

    
    {% block head %}
        <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/h5.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">{{titulo}}</h2>
                        {% if tipo %}
                        <h2 class="room-price">$80</h2>
                        {%else%}
                        <h2 class="room-price">$150</h2>
                        {%endif%}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    {% endblock %}


    {% block contenedor %}
    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!--CONTENEDOR DE HAMBURGUESAS INDIVIDUALES-->

                {% for p in productos %}
                <div class="col-12 col-lg-8">
                    <!-- Single Room Area -->
                    <div class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Room Thumbnail -->
                        <div class="room-thumbnail">
                            <img src="{{p.imagen.url}}" alt="">
                        </div>
                        <!-- Room Content -->
                        <div class="room-content">
                            <h2>{{p.nombre}}</h2>
                            <h4>${{p.precio}}</h4>
                            <div class="room-feature">
                                <p>{{p.descripcion}}</p>
                                
                                <ul>
                                    {%for aderezo in p.aderezo.all%}
                                    <li><i class="fa fa-check" style="color:teal"></i>{{aderezo}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                            

                            {% if request.user.is_authenticated %}   
                              <div class="d-flex justify-content-center mb-3">
                                <div class="p-2"> <a href="#" class="btn btn-outline-success" id="{{p.pk}}" data-toggle="modal" onclick="generarPedido(this.id)">Pedir Ahora</a></div>

                                <div class="p-2"><a href="#" class="btn btn-outline-info text-rigth" id="{{p.pk}}" onclick="addcarrito(this.id)">Añadir al Carrito</a>
                              </div>

                              </div>  
                              {%endif%}  

                        </div>
                    </div>
                </div>

                {%endfor%}
             
                <!-- FIN CONTENEDOR DE HAMBURGUESAS INDIVIDUALES-->


            </div>
        </div>
    </div>

      {%endblock%}






{%block modal %}
 <!-- The Modal register y login-->
 <div class="modal fade" id="modal1" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="font-family: cursive;font-weight: bolder;" id="titulo" >REGISTRARSE</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="registro">
            <form  method="POST" action="{% url "registro" %}">
              {% csrf_token %}
             <div class="form-group">
                <input type="text" class="form-control "  placeholder="Nombre" name="nombre" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control "  placeholder="Apellido" name="apellido" required="">
            </div>
            <div class="form-group">
                  <input type="text" class="form-control " i placeholder="Contacto" name="contacto" required="">
              </div>
              <div class="form-group">
                      <input type="email" class="form-control "  placeholder="Email" name="email" required="">
              </div>
              <div class="form-group">
                      <input type="password" class="form-control "  placeholder="Contraseña" id="contra" name="contra" required="">
              </div>
              <div class="form-group">
                      <input type="password" class="form-control "  placeholder="Repetir Contraseña" id="rep_contra" name="rep_contra" required="">
              </div>
              <p id="error_contrasenias" style="color:tomato; display: none;"></p>
      </div>
      <div class="modal-footer">
              <button type="submit" class="btn btn-info" id="botonR">REGISTRARSE</button>
              <button type="submit" class="btn btn-outline-success" onclick="ocultarRegistro()" id="tengoCuenta">Ya tengo Cuenta</button>
              
            </div>
      </form>

      <div class="modal-body" id="sesion" style="display: none;">
      <form  method="POST" action="{% url "login" %}">
                {% csrf_token %}
                <div class="form-group">
                        <input type="email" class="form-control "  placeholder="Email" name="email" required="">
                </div>
                <div class="form-group">
                        <input type="password" class="form-control " id="contra" placeholder="Contraseña" name="contra" required="">
                </div>
        </div>

      <!-- Modal footer -->
     <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" id="volver" style="display: none;">Volver</button>
        <button type="submit" class="btn btn-success" id="botonI" style="display: none;">INGRESAR</button>
        
      </div>
    </form>
    
    <br>

    </div>
  </div>
</div>
 <!-- fin -->


      <!-- The Modal -->



<div class="modal fade" id="modal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"  id="nombre_producto"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <form  method="POST" action="{% url "realizarP" %}">
                {% csrf_token %}
          <div class="single-recent-post d-flex">
                                <!-- Thumb -->
                <!--<div class="post-thumb">
                    <a href="single-blog.html"><img src="{% static 'img/bg-img/31.jpg'%}" style="width:100%;" alt=""></a>
                 </div>-->
                 <div class="row">
                   <div class="col-md-1"></div>
                    <div class="col-md-10">
                        
                          <img id="imagen" src="" alt="Imagen del Producto" >
                        
                    </div>
                 </div>
                                <!-- Content -->
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:gray;font-size:18px;;"  >Precio/Unidad: <span id="precio" style="color:MediumSeaGreen;"></span></li>
                    <li class="list-group-item" style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:gray;font-size:18px;;">Cantidad: <input style="border-radius:5%;margin-left:2%;color:MediumSeaGreen" name="cantidad" type="number" min="1" max="8" value="1"></li>
                  </ul>
                  <div class="form-group">
                      <input  style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:18px;color:MediumSeaGreen;margin-top:2%;;" type="text" class="form-control" id="direccion" placeholder="Direccion de envio" name="direccion" required="">
                    
                      <input  style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:18px;color:MediumSeaGreen;margin-top:2%;;" type="text" class="form-control" id="referencia" placeholder="Referencia Ej:Casa rejas negras" name="referencia">
                  </div>
                </div>
            </div>

            <div class="form-group">
                <input type="hidden" class="form-control" name="id" id="pk">
            </div>
      </div>
      <!-- Modal footer -->
     <div class="modal-footer row">
       <div class="col-md-6">
        <button type="submit" style="width:100%;" class="btn btn-info">PEDIR</button>
      </div>
      </div>
    </form>

    </div>
  </div>
</div>
{%endblock%}
<!-- end Modal -->
